.sandbox{
    padding-top: 60px;
    display: flex;
    color: rgb(255, 255, 255);
}
.sandbox__item2{
    width: calc(100vw - 600px);
}
.sandbox__item{
    width: 600px;
    background-color: #272822;
    position: relative;
}
.sandbox__item nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 70px;
   padding: 0 15px;
   gap: 15px;
   border-bottom: 2px solid #333;
}

.item_btn{
height: 50px;
flex: 1 1 auto;
justify-content: center;
align-items: center;
border-radius: 4px;
background: #333;
color:  white;
cursor: pointer;
font-size: 15px;
font-weight: 600;
outline: none;
border: none;
}

.active{
    background: #003399;
    color: white;
}

.editor{
    height: calc(100vh - 70px);
    padding: 10px;
}

.webcam{
    height: 70px;
    flex-shrink: 0;
    background: #272822;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid #333;
    padding: 0 15px;
    gap: 15px;

}
.camera{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 4px;
    color: white;
    background: #333;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.camera:hover{
    background: #444;
}

.body__code{
    height: calc(100vh - 70px);
}

.preview{
    width: 100%;
    height: 100%;
}

.loading{
    width: 100%;
    height: 100%;display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    background: #272822;
    color: rgba(255, 255, 255, .1);  
}