@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@400;700&display=swap");



.header {
  font-family: Roboto;
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  padding: 30px 30px;
  background: #003399;
  z-index: 3;
}
.logo img {
  width: 130px;
}
.nav__ul {
  display: flex;
  width: 560px;
  justify-content: space-between;
}
.nav__ul li {
  list-style-type: none;
}
.ul__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
}
.ul__link:hover {
  color: rgb(195, 195, 197);
}
.ul__link:focus {
  color: rgb(66, 66, 131);
}
.ul__menu {
  cursor: pointer;
  font-size: 18px;
  border: none;
  background: transparent;
  color: white;
}
.menu button {
  width: 130px;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 30px;
  background: transparent;
  border: none;
}
.prof {
  position: relative;
  display: flex;
  align-items: center;
}
.ava{
  border-radius: 50%;
}
.prof__ul {
  border-radius: 5px;
  position: absolute;
  border: 1px solid #003399;
  box-shadow: 0px 2px 10px 2px rgba(34, 60, 80, 0.2);
  top: 50px;
  background: white;
  right: -26px;
}
.log__user{
  color: white;
  font-size: 18px;
  padding-right: 10px;
 
}
.prof__ul button {
  width: 130px;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 30px;
  background: transparent;
  border: none;
}

.menu button:hover {
  background-color: rgba(227, 226, 226, 0.452);
}
.prof__ul button:hover {
  background-color: #003399;
  color: white;
  display: flex;
  align-items: center;
}
.link__color{
  color: black;
}
.prof__btn {
  cursor: pointer;
  background: transparent;
  border: none;
  height: 38px;
  font-size: 28px;
  color: white;
}
.icon {
  margin-right: 6px;
}
.ul__menu {
  position: relative;
}
.menu {
  position: absolute;
  border: 1px solid #003399;
  box-shadow: 0px 2px 10px 2px rgba(34, 60, 80, 0.2);
  top: 45px;
  background: white;
  right: -26px;
}
.burger_click {
  display: none;
}


.profil_auth{
  width: 250px;
  display: flex;
  flex-direction: column;
}
.profil_auth h3{
  padding-left: 10px;
}
.profil_auth div{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.profil_auth button{
margin: 10px auto;
border-radius: 5px;
border: 1px solid black;
padding-left: 25px;

}
/* Адаптив */

@media screen and (max-width: 800px) {
  .logo {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  .nav {
    position: fixed;
    left: -185px;
    top: 59px;
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100%;
    opacity: 0.95;
    transition: 0.4s;
    box-shadow: none;
  }
  .open {
    position: fixed;
    top: 59px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #003399;
    width: 180px;
    height: 100%;
    opacity: 0.95;
    transition: 0.4s;
    box-shadow: none;
    /* box-shadow: 0 0 0 1000px rgb(0, 0, 0, 0.3); */
  }
  .burger_click {
    display: block;
    margin-left: 15px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
  }
  .burger_click:hover {
    transform: scale(1.07);
  }
  .burger_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

  }
  .logo {
    display: flex;
  }
  .open_nav {
    width: 24px;
    height: 24px;
    background: transparent;
    margin-left: auto;
    display: block;
    padding: 0;
    border: 0;
  }
  .nav__ul {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 40px;
    gap: 30px;
  }
  .ul__link {
    color: #fff;
  }
}
