* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #EEEEEE;
}
img {
    max-width: 100%;
    height: 100%;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.footer {
    padding: 120px 0 0 0;
}
.footer_container {
    max-width: 970px;
    margin: 0 auto;
}
.map_content {
    display: flex;
    align-items: center;
}
.footer_map {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #B0B0B0;
}
.contact_h1 {
    font-size: 56px;
    margin-bottom: 20px;
}
.contacts {
    margin-left: 56px;
}
.adress {
    display: flex;
    align-items: center;
}
.contacts_two {
    margin-top: 50px;
}
.hour_span {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-right: 12px;
    color: rgb(23, 23, 158);
}
.span_map {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-right: 12px;
    color: rgb(23, 23, 158);
}
.hors_work {
    display: flex;
    align-items: center;
}
.text_footer_one {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #231f1fcc;
    font-weight: 700;
}
.text_footer_two {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #231f1fcc;
    font-weight: 700;
}

.footer_bottom_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    padding: 30px 0;
}
.footer_logo {
    max-width: 150px;
    max-height: 150px;
}
.footer_ul {
    display: flex;
    align-items: center;
    gap: 60px;
}
.footer_nav {
    font-weight: 700;
    color: black;
    transition: .4s;
}
.footer_nav:hover {
    color: rgb(23, 23, 158);
}
.footer_email {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: black;
    transition: .4s;
    cursor: pointer;
}
.footer_email:hover {
    color: rgb(23, 23, 158);;
}
.email {
    color: black;
}
.email:hover {
    color: rgb(23, 23, 158);;
}
footer_email

/* Адаптив */
@media screen and (max-width: 985px) {
    .footer_logo {
        width: 200px;
        height: 200px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 917px) {
    .footer_nav {
        font-size: 14px;
    }
    .footer_ul {
        gap: 30px;
    }
}
@media screen and (max-width: 809px) {
    .footer_nav {
        font-size: 12px;
    }
}
@media screen and (max-width: 717px) {
    .footer_logo {
        /* display: none; */
    }
    .footer_ul {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 780px) {
    .footer_bottom_content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 755px) {
    .map_content {
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: center;
}
.adress {
    display: flex;
    flex-direction: column;
}
.hors_work {
    display: flex;
    flex-direction: column;
}
.span_map {
    text-align: center;
}
}


@media screen and (max-width: 580px) {
    .map_content {
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .footer_nav {
        font-size: 18px;
    }
    .footer_ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-left: 20px;
    }
    .footer_email {
        text-align: center;
        margin-top: 15px;
        margin-left: 20px;
    }
    .footer_logo {
        /* margin-bottom: 30px; */
        margin-left: 20px;
    }
    .footer_bottom_content {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        
    }
    .contact_h1 {
        margin-right: 35px;
        font-size: 50px;
        margin-top: 20px;
    }
    .adress {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 20px;
    }
    .hour_h2 {
        margin-right: 20px;
    }
    .hour_span {
        margin-right: 25px;
    }
    .hors_work {
        display: flex;
        flex-direction: column;
    }
    .span_map {
        text-align: center;
    }
    .text_footer_one {
        text-align: center;
        margin-right: 30px;
    }
    .text_footer_two {
        text-align: center;
        margin-right: 30px;
    }
}

@media screen and (max-width: 360px) {
    .contacts {
        margin-right: 30px;
    }
    .footer_ul {
        margin-right: 15px;
    }
    .contact_h1 {
        font-size: 40px;
        padding-right: 20px;
    }
    .footer_logo {
        width: 170px;
        height: 200px;
        margin-right: 20px;
    }
    .footer_email {
        margin-right: 10px;
    }
    
}

@media screen and (max-width: 372px) {
    .contact_h1 {
        margin-right: 25px;
    }
}
@media screen and (max-width: 360px) {
    .contact_h1 {
        margin-left: 25px;
    }
}










