@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.student {
  font-family: Roboto;

  max-width: 970px;
  margin: 20px auto;
  flex-grow: 1;
  position: relative;
}

.list_student {
  margin: auto;
  width: 970px;
  padding: 20px;
}
.close_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_content {
  display: flex;
  align-items: center;
}
.add {
  margin-top: -12px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  color: #003399;
  cursor: pointer;
}
.search_student {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding-left: 10px;
}

.students_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.student_name {
  flex: 1;
  padding-left: 60px;
}

.modal_add {
  width: 500px;
  height: 400px;
  background: #dbdbdb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 2px 10px 2px rgba(34, 60, 80, 0.2);
}

.modal_add h2 {
  text-align: center;
  position: relative;
}

.student_group_name {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.student_registor {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.student_password {
  display: flex;
  justify-content: center;
}

.input{
    height: 35px;
    width: 300px;
    padding-left: 10px;
    margin-top: 10px;
    outline: none;
}

.student_button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.student_btn{
    height: 35px;
    width: 300px;
    padding-left: 10px;
    outline: none;
}

.student_btn:hover{
background: #003399;
color: white;
}

.close_btn{
    position: absolute;
    right: -10px;
    top: -10px;
}
