* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.student {
    max-width: 970px;
    margin: 20px auto;
    flex-grow: 1;

}

.list_student {
    margin: auto;
    width: 970px;
    padding: 20px;
}
.close_list {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.list_content {
    display: flex;
    align-items: center
}
.add {
    margin-top: -12px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    color: #003399;
    cursor: pointer;
}
.search_student {
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    padding-left: 10px;
}
.close_modal {
    margin-top: -12px;
    margin-left: 13px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    color: #003399;
    cursor: pointer;
}
.students_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.student_name{
    flex: 1;
    padding-left: 60px;
}

