@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.student {
  font-family: Roboto;

  max-width: 970px;
  margin: 20px auto;
  flex-grow: 1;
  position: relative;
}

.list_student {
  margin: auto;
  width: 970px;
  padding: 20px;
}
.close_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_content {
  display: flex;
  align-items: center;
}
.add {
  margin-top: -12px;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  color: #003399;
  cursor: pointer;
}
.search_student {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding-left: 10px;
}

.students_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.student_name {
  flex: 1;
  padding-left: 60px;
}

.modal_add {
  width: 500px;
  height: 400px;
  background-color: rgb(124, 143, 205);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 2px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}

.modal_add h2 {
  text-align: center;
  position: relative;
}

.student_group_name {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.student_registor {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.student_password {
  display: flex;
  justify-content: center;
}
.input{
    height: 35px;
    width: 300px;
    padding-left: 10px;
    margin-top: 10px;
    outline: none;
    background: transparent; 
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
}
.input::placeholder {
  color: rgb(225, 212, 212);
}

.student_button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.student_btn{
    height: 40px;
    width: 300px;
    margin-top: 10px;
    padding-left: 10px;
    outline: none;
    border: none;
    background: transparent;
    background-color: #003399;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: 0.4s;
}
.student_btn:hover{
  transform: scale(1.05);
}

.close_btn{
    position: absolute;
    right: -10px;
    top: -10px;
    border: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
    transition: 0.4s;
}
.close_btn:hover {
  transform: scale(1.05);
}










