* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.student_container {
    max-width: 970px;
    margin: 0 auto;
    margin-top: 100px;
}
.block_students {
    position: relative;
}
.students_content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card_student {
    /* position: relative; */
    width: 300px;
    height: 200px;
    margin-top: 30px;
    margin: 5px;
    margin-bottom: 5px;
    transition: .2s;
    cursor: pointer;
}
.hover_effect_scale {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}
.hover_effect_scale li {
    position: relative;
    display: inline-block;
    background-color: #fff;
    margin: 0;
    border: 5px solid #fff;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    border-radius: 10px;
}
/* Заголовок, текст и ссылка */
.hover_effect_scale li h3{
    color: #fff;
    margin: 5px;
}
.hover_effect_scale li p{
    color: #fff;
    margin: 5px;
}
.hover_effect_scale li button {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    background: #000;
    border-radius: 5px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    /* background-color: gray; */
}
.hover_effect_scale li a:hover {
    background: #454545;
    color: #fff;
}
/* Выезжающий блок с текстом */ 
.hover_effect_scale li > div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hover_effect_scale li:hover > div {
    position: absolute;
   
    top: 0;
    left: 0;
}
.hover_effect_scale li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.35); /* Фон блока при наведении */
    transition: all 0.4s ease-in-out;
    color: #fff;
}
.hover_effect_scale li img {
    transition: all 0.2s linear;
}
.hover_effect_scale li:hover img {
    /* transform: scale(1.3); */
}
.hover_effect_scale li:hover div {
    opacity: 1;
}
.card_student:hover {
    /* transform: scale(1.07); */
}
.h1_students {
    text-align: center;
    margin-bottom: 20px;
}
.photo_student {
    width: 300px;
    height: 200px;
}
.image_student {
    border-radius: 10px;
}
.img_student {
    width: 280px;
    height: 180px;
}
.info_student {
    text-align: center;
    margin-top: 20px;
}
.dop_info_student {
    
}
.card_student_info {
    box-shadow: 0 0 0 1000px rgb(0, 0, 0, .3);
    position: absolute;
    top:50%;
left:50%;
z-index: 2;
transform:translate(-50%, -50%);
    text-align: justify;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px; 
    transition: none;
    padding: 0 15px;
}
.close_card {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 15px;
}
.close {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.dop_block_img {
    width: 300px;
    height: 200px;
}
.student_text {
    line-height: 20px;
}

