.group {
  flex-grow: 1;
  max-width: 970px;
  margin: 20px auto;
}

.group__item {
  display: flex;
  width: 970px;
  height: 200px;
  cursor: pointer;
  border: 1px solid #003399;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item__img {
  width: 200px;
  height: 200px;
  color: white;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 60px;
  background-color: #003399;
}

.name {
  font-size: 30px;
  padding: 20px;
}
.mentor {
  padding: 25px 20px 0;
  color: gray;
  font-size: 20px;
}
.lection{
    padding: 5px 20px;
  color: gray;
  font-size: 20px; 
}

.student{
    padding: 0 20px;
    color: gray;
    font-size: 20px;    
}
